In [37]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.decomposition import PCA

In [4]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [5]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [15]:
cols_variance = ['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak', 'HeartDisease']

for col in cols_variance:
    df = df[(df[col] > df[col].mean() - 3 * df[col].std()) & (df[col] < df[col].mean() + 3 * df[col].std())]
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [12]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000
mean,53.428090,131.907865,197.612360,0.233708,136.991011,0.834494,0.542697
std,9.430338,17.055670,107.147446,0.423426,25.303377,0.967859,0.498454
min,28.000000,80.000000,0.000000,0.000000,63.000000,-2.000000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.500000,1.000000
75%,60.000000,140.000000,266.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,180.000000,518.000000,1.000000,202.000000,3.700000,1.000000

In [22]:
print(df['Sex'].unique())
print(df['ChestPainType'].unique())
print(df['RestingECG'].unique())
print(df['ExerciseAngina'].unique())
print(df['ST_Slope'].unique())

['M' 'F']
['ATA' 'NAP' 'ASY' 'TA']
['Normal' 'ST' 'LVH']
['N' 'Y']
['Up' 'Flat' 'Down']

In [24]:
df2 = df.copy()

df2['RestingECG'].replace(
    {
        'Normal' : 1,
        'ST' : 2,
        'LVH' : 3
    },
    inplace=True
)

df2['ExerciseAngina'].replace(
    {
        'N' : 0,
        'Y' : 1
    },
    inplace=True
)

df2['ST_Slope'].replace(
    {
        'Down' : 1,
        'Flat' : 2,
        'Up' : 3
    },
    inplace=True
)

df2.head()

C:\Users\premt\AppData\Local\Temp\ipykernel_29812\3124326959.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['RestingECG'].replace(
C:\Users\premt\AppData\Local\Temp\ipykernel_29812\3124326959.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['RestingECG'].replace(
C:\Users\premt\AppData\Local\Temp\ipykernel_29812\3124326959.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['ExerciseAngina'].replace(
C:\Users\premt\AppData\Local\Temp\ipykernel_29812\3124326959.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['ExerciseAngina'].replace(
C:\Users\premt\AppData\Local\Temp\ipykernel_29812\3124326959.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['ST_Slope'].replace(
C:\Users\premt\AppData\Local\Temp\ipykernel_29812\3124326959.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['ST_Slope'].replace(

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0

In [48]:
df_final = pd.get_dummies(df2, drop_first=True)
df_final.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,True,True,False,False
1,49,160,180,0,1,156,0,1.0,2,1,False,False,True,False
2,37,130,283,0,2,98,0,0.0,3,0,True,True,False,False
3,48,138,214,0,1,108,1,1.5,2,1,False,False,False,False
4,54,150,195,0,1,122,0,0.0,3,0,True,False,True,False

In [56]:
X = df_final.drop(['HeartDisease'], axis=1)
y = df_final['HeartDisease']

scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)

print(X_scaled)
print(np.shape(X_scaled))
print(X)
print(y)

[[-1.42397733  0.47350677  0.85247445 ...  2.04910478 -0.53877246
  -0.22819072]
 [-0.46960954  1.65230129 -0.16676927 ... -0.48801799  1.85607112
  -0.22819072]
 [-1.74209992 -0.11589048  0.79636929 ...  2.04910478 -0.53877246
  -0.22819072]
 ...
 [ 0.37871737 -0.11589048 -0.62496141 ... -0.48801799 -0.53877246
  -0.22819072]
 [ 0.37871737 -0.11589048  0.35687888 ...  2.04910478 -0.53877246
  -0.22819072]
 [-1.63605905  0.35562732 -0.21352357 ... -0.48801799  1.85607112
  -0.22819072]]
(889, 13)
     Age  RestingBP  Cholesterol  FastingBS  RestingECG  MaxHR  \
0     40        140          289          0           1    172
1     49        160          180          0           1    156
2     37        130          283          0           2     98
3     48        138          214          0           1    108
4     54        150          195          0           1    122
..   ...        ...          ...        ...         ...    ...
913   45        110          264          0           1    132
914   68        144          193          1           1    141
915   57        130          131          0           1    115
916   57        130          236          0           3    174
917   38        138          175          0           1    173

     ExerciseAngina  Oldpeak  ST_Slope  Sex_M  ChestPainType_ATA  \
0                 0      0.0         3   True               True
1                 0      1.0         2  False              False
2                 0      0.0         3   True               True
3                 1      1.5         2  False              False
4                 0      0.0         3   True              False
..              ...      ...       ...    ...                ...
913               0      1.2         2   True              False
914               0      3.4         2   True              False
915               1      1.2         2   True              False
916               0      0.0         2  False               True
917               0      0.0         3   True              False

     ChestPainType_NAP  ChestPainType_TA
0                False             False
1                 True             False
2                False             False
3                False             False
4                 True             False
..                 ...               ...
913              False              True
914              False             False
915              False             False
916              False             False
917               True             False

[889 rows x 13 columns]
0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 889, dtype: int64

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=10)

In [51]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
rfc.score(X_test, y_test)

0.8277153558052435

In [52]:
#### PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

array([[ 93.30566317,  29.69503777],
       [-16.17267343,  15.11339322],
       [ 82.83569791, -39.20783069],
       ...,
       [-68.06408418, -17.82875664],
       [ 40.20023867,  33.41709627],
       [-20.43372415,  37.68360681]], shape=(889, 2))

In [61]:
pca_X_train, pca_X_test, pca_y_train, pca_y_test = train_test_split(X_pca, y, test_size=0.3, random_state=10)
print(np.shape(pca_X_train))
print(np.shape(pca_y_train))

(622, 2)
(622,)

In [62]:
rfc_pca = RandomForestClassifier()
rfc_pca.fit(pca_X_train, pca_y_train)
rfc_pca.score(pca_X_test, pca_y_test)

0.6629213483146067

In [ ]:
### Reduced accuracy but lighter model with only 2 features